:root {
  --header-height: 70px;
  --pokemon-color-info: #87ADDE;
  --primary-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --primary-shadow-inset: 0 1px 3px rgba(0, 0, 0, 0.12) inset, 0 1px 2px rgba(0, 0, 0, 0.24) inset;
  --text-color: white;
}

header {
  background-color: firebrick;
  color: white;
  height: var(--header-height);
  text-align: center;
  line-height: var(--header-height);
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: var(--primary-shadow);
}

.pokemon {
  background-color: burlywood;
  border-radius: 3px;
  color: white;
}

.pokemon a {
  color: white;
}

.pokemon-detail{
  box-shadow: var(--primary-shadow);
}

.pokemon-image {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 10px;
  box-shadow: var(--primary-shadow);
}
.pokemon-image img {
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.pokemon-card {
  text-align: center;
  margin-bottom: 20px;
  height: 250px;
  overflow: hidden;
  box-shadow: var(--primary-shadow);
}

.pokemon-name {
  text-transform: capitalize;
  font-weight: bold;
}

.type{
  padding: 5px;
  width: 40%;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  margin: 3px;
  border-radius: 2px;
  box-shadow: var(--primary-shadow);
}

.grass {
  background-color: #4E8234;
}

.poison {
  background-color: #682A68;
}

.bug {
  background-color: #6D7815;
}

.fire {
  background-color: #9C531F;
}

.flying {
  background-color: #6D5E9C;
}

.normal {
  background-color: #6D6D4E;
}

.water {
  background-color: #445E9C;
}

.ice {
  background-color: #638D8D;
}

.ghost {
  background-color: #493963;
}

.electric {
  background-color: #A1871F;
}

.psychic {
  background-color: #A13959;
}

.rock {
  background-color: #786824;
}

.ground {
  background-color: #927D44;
}

.fighting {
  background-color: #7D1F1A;
}

.dragon {
  background-color: #4924A1;
}

.fairy {
  background-color: #9B6470;
}

.steel {
  background-color: #787887;
}

.dark {
  background-color: #49392F;
}

.pokemon-data-label {
  background-color: var(--pokemon-color-info);
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
  width: 20%;
  text-align: center;
  margin: 5px;
}

.data-pokemon {
  display: block;
  padding: 10px;
  width: 100%;
  text-transform: capitalize;
  box-shadow: var(--primary-shadow);
}

.stat-number {
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
  
}

.badge-number {
  background-color: white;
  padding: 5px;
  color: var(--pokemon-color-info);
  margin: 7px;
  border-radius: .25rem;
  box-shadow: var(--primary-shadow-inset);
}

.pokemon-info {
  margin: 5px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: var(--primary-shadow)
}